:root{
    --main-bg-color:#010101;
    --index: calc(1vw + 1vh);  
    --text: #e7e7e0;
    --main-article-transform: translate3d(0, calc(var(--scrollTop)/ -7.5), 0);
    --transition: transform .75s cubic-bezier(.075, .5, 0, 1);;
}